USE [master]
GO
/****** Object:  Database [SWP391_SE1726_G4]    Script Date: 24/05/2023 3:54:14 CH ******/
CREATE DATABASE [SWP391_SE1726_G4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWP391_SE1726_G4', FILENAME = N'D:\FPT_University\Semester3_FA2022\DBI202\MSSQL15.MSSQLSERVER\MSSQL\DATA\SWP391_SE1726_G4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SWP391_SE1726_G4_log', FILENAME = N'D:\FPT_University\Semester3_FA2022\DBI202\MSSQL15.MSSQLSERVER\MSSQL\DATA\SWP391_SE1726_G4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWP391_SE1726_G4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWP391_SE1726_G4]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Cart_ID] [int] NOT NULL,
	[Product_ID] [int] NOT NULL,
	[Product_Price] [int] NULL,
	[Quantity] [int] NULL,
	[Total_Cost] [int] NULL,
	[User_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cart_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Case]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Case](
	[Case_ID] [int] NOT NULL,
	[Case_Name] [nvarchar](50) NULL,
	[Price] [int] NULL,
	[Description] [nvarchar](255) NULL,
	[Images] [varchar](max) NULL,
	[Component_ID] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Case_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Components]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Components](
	[Component_ID] [nvarchar](10) NOT NULL,
	[Component_Name] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Component_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CPU]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPU](
	[CPU_ID] [int] NOT NULL,
	[CPU_Name] [nvarchar](50) NULL,
	[Price] [int] NULL,
	[Description] [nvarchar](255) NULL,
	[Images] [varchar](max) NULL,
	[Component_ID] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CPU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[Feedback_ID] [int] NOT NULL,
	[User_ID] [int] NULL,
	[Product_ID] [int] NULL,
	[Create_Date] [date] NULL,
	[Content] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Rating] [float] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Feedback_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mainboard]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mainboard](
	[Mainboard_ID] [int] NOT NULL,
	[Mainboard_Name] [nvarchar](50) NULL,
	[Price] [int] NULL,
	[Description] [nvarchar](255) NULL,
	[Images] [varchar](max) NULL,
	[Component_ID] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Mainboard_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Order_ID] [int] NOT NULL,
	[User_ID] [int] NULL,
	[Order_Date] [date] NULL,
	[Total_Cost] [int] NULL,
	[Saler_ID] [int] NULL,
	[Order_Status] [int] NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[Order_Detail_ID] [int] NOT NULL,
	[Order_ID] [int] NULL,
	[Product_ID] [int] NULL,
	[Product_Price] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_Detail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Status]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Status](
	[Order_Status_ID] [int] NOT NULL,
	[Order_Status_Name] [nvarchar](50) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PC]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PC](
	[Product_ID] [int] NOT NULL,
	[Mainboard_ID] [int] NOT NULL,
	[CPU_ID] [int] NOT NULL,
	[RAM_ID] [int] NOT NULL,
	[VGA_ID] [int] NOT NULL,
	[Storage_ID] [int] NOT NULL,
	[PSU_ID] [int] NOT NULL,
	[Case_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Product_ID] [int] NOT NULL,
	[Product_Name] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Images]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Images](
	[Product_Images_ID] [int] NOT NULL,
	[Product_ID] [int] NULL,
	[Images] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_Images_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSU]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSU](
	[PSU_ID] [int] NOT NULL,
	[PSU_Name] [nvarchar](50) NULL,
	[Price] [int] NULL,
	[Description] [nvarchar](255) NULL,
	[Images] [varchar](max) NULL,
	[Component_ID] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[PSU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAM]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAM](
	[RAM_ID] [int] NOT NULL,
	[RAM_Name] [nvarchar](50) NULL,
	[Price] [int] NULL,
	[Description] [nvarchar](255) NULL,
	[Images] [varchar](max) NULL,
	[Component_ID] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[RAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Role_ID] [tinyint] NOT NULL,
	[Role_name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[Slider_ID] [int] NOT NULL,
	[Slider_Title] [nvarchar](50) NULL,
	[Slider_Image] [varchar](max) NULL,
	[Backlink] [varchar](max) NULL,
	[Note] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[Updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Slider_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Storage]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storage](
	[Storage_ID] [int] NOT NULL,
	[Storage_Name] [nvarchar](50) NULL,
	[Price] [int] NULL,
	[Description] [nvarchar](255) NULL,
	[Images] [varchar](max) NULL,
	[Component_ID] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Storage_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_ID] [int] NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Profile_picture] [varchar](max) NULL,
	[Phone_Number] [varchar](50) NULL,
	[Address] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[Role_ID] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VGA]    Script Date: 24/05/2023 3:54:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VGA](
	[VGA_ID] [int] NOT NULL,
	[VGA_Name] [nvarchar](50) NULL,
	[Price] [int] NULL,
	[Description] [nvarchar](255) NULL,
	[Images] [varchar](max) NULL,
	[Component_ID] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[VGA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Roles] ([Role_ID], [Role_name]) VALUES (1, N'Customer')
INSERT [dbo].[Roles] ([Role_ID], [Role_name]) VALUES (2, N'Sale')
INSERT [dbo].[Roles] ([Role_ID], [Role_name]) VALUES (3, N'Support')
GO
INSERT [dbo].[User] ([User_ID], [FullName], [Email], [Password], [Profile_picture], [Phone_Number], [Address], [Status], [Role_ID]) VALUES (1, N'Nguyễn Đức Mạnh', N'manhndhe170523@fpt.edu.vn', N'123456', NULL, N'0365616718', N'Hoà Lạc', 1, 1)
INSERT [dbo].[User] ([User_ID], [FullName], [Email], [Password], [Profile_picture], [Phone_Number], [Address], [Status], [Role_ID]) VALUES (2, N'Nguyễn Văn A', N'test123@gmail.com', N'123456', NULL, N'0123456789', N'Hà Nội', 1, 4)
INSERT [dbo].[User] ([User_ID], [FullName], [Email], [Password], [Profile_picture], [Phone_Number], [Address], [Status], [Role_ID]) VALUES (3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Case]  WITH CHECK ADD FOREIGN KEY([Component_ID])
REFERENCES [dbo].[Components] ([Component_ID])
GO
ALTER TABLE [dbo].[CPU]  WITH CHECK ADD FOREIGN KEY([Component_ID])
REFERENCES [dbo].[Components] ([Component_ID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Mainboard]  WITH CHECK ADD FOREIGN KEY([Component_ID])
REFERENCES [dbo].[Components] ([Component_ID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([Order_Status])
REFERENCES [dbo].[Order_Status] ([Order_Status_ID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[PC]  WITH CHECK ADD FOREIGN KEY([Case_ID])
REFERENCES [dbo].[Case] ([Case_ID])
GO
ALTER TABLE [dbo].[PC]  WITH CHECK ADD FOREIGN KEY([CPU_ID])
REFERENCES [dbo].[CPU] ([CPU_ID])
GO
ALTER TABLE [dbo].[PC]  WITH CHECK ADD FOREIGN KEY([Mainboard_ID])
REFERENCES [dbo].[Mainboard] ([Mainboard_ID])
GO
ALTER TABLE [dbo].[PC]  WITH CHECK ADD FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[PC]  WITH CHECK ADD FOREIGN KEY([PSU_ID])
REFERENCES [dbo].[PSU] ([PSU_ID])
GO
ALTER TABLE [dbo].[PC]  WITH CHECK ADD FOREIGN KEY([RAM_ID])
REFERENCES [dbo].[RAM] ([RAM_ID])
GO
ALTER TABLE [dbo].[PC]  WITH CHECK ADD FOREIGN KEY([Storage_ID])
REFERENCES [dbo].[Storage] ([Storage_ID])
GO
ALTER TABLE [dbo].[PC]  WITH CHECK ADD FOREIGN KEY([VGA_ID])
REFERENCES [dbo].[VGA] ([VGA_ID])
GO
ALTER TABLE [dbo].[Product_Images]  WITH CHECK ADD FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[PSU]  WITH CHECK ADD FOREIGN KEY([Component_ID])
REFERENCES [dbo].[Components] ([Component_ID])
GO
ALTER TABLE [dbo].[RAM]  WITH CHECK ADD FOREIGN KEY([Component_ID])
REFERENCES [dbo].[Components] ([Component_ID])
GO
ALTER TABLE [dbo].[Slider]  WITH CHECK ADD FOREIGN KEY([Updated_by])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Storage]  WITH CHECK ADD FOREIGN KEY([Component_ID])
REFERENCES [dbo].[Components] ([Component_ID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Roles] ([Role_ID])
GO
ALTER TABLE [dbo].[VGA]  WITH CHECK ADD FOREIGN KEY([Component_ID])
REFERENCES [dbo].[Components] ([Component_ID])
GO
USE [master]
GO
