.center-table {
    margin: 0 auto;
}

.center-table td, .center-table th {
    border: 1px solid black;
    padding: 8px;
    width: 200px;
    text-align: center;
}

.sidebar {
    float: left;
    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
}

.sidebar .admin-heading {
    font-size: 24px; /* Kích thước tiêu đề */
}


.content {
    margin-left: 200px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.center-table {
    margin: 0 auto;
    background-color: #fff;
    border-collapse: collapse;
}

.center-table td,
.center-table th {
    border: 1px solid black;
    padding: 8px;
    width: 200px;
    text-align: center;
}

.sidebar {
    float: left;
    width: 200px;
    height: 100%;
    color: black;
    border-right: 1px solid #ccc;  /* Đường viền màu xám */
    padding-right: 1px;
}

.sidebar h1 {
    text-align: center; 
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    margin: 0;
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 5px 20px;
}

.sidebar li a {
    list-style-type: disc;
    color: #007bff;
    text-decoration: none;
}

.sidebar li a:hover {
    text-decoration: underline;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.search-box{
    margin-right: 10px;
    width: 200px; 
}

.search-button {
    margin-top: 10px;
    color: white; 
    background-color: #007fff; 
}

.content {
    margin-left: 200px;
    padding: 20px;
}

.content h2 {
    font-size: 20px;
    margin-top: 0;
}

.content table {
    width: 100%;
}

.content td,
.content th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.content td img {
    max-width: 150px;
    max-height: 150px;
}

.content td.actions {
    white-space: nowrap;
}

.content td.actions a {
    margin-right: 5px;
}

.content td.actions a:last-child {
    margin-right: 0;
}

.content td.actions a:hover {
    color: #f00;
}

.no-sliders {
    text-align: center;
    font-style: italic;
    color: #888;
}

